@media only screen and (min-width:993px) and (max-width:1200px){
    body{
    }
    #popTitle {
        width: 22rem;
        position: absolute;
        top: 70%;
        left: 35%;
    }

    
}

@media only screen and (min-width:768px) and (max-width:992px){
    body{
    }
    #popTitle {
        width: 18rem;
        border-radius: 1rem;
        position: absolute;
        top:35%;
        left: 30%;
    }

    
}
@media only screen and (min-width:767px){
    #box8{
        margin-top: 7rem !important;
    }
    

    
}
